body {
    background-color: #1F2937;
    font-family: "courier";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

h1 {
    font-size: 70px;
    color: rgb(255, 180, 42);
    text-shadow: 2px 2px 5px rgb(201, 55, 2);
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

button {
    font-size: 40px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
}

.button:hover {
    background-color: #ffffff
}

.button:active {
    background-color: #ffffff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#blk {
    background-color: black;
    color: white;
}

#rgb {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet)
}

#choose,
#col {
    background-color: rgb(255, 180, 42);
    text-align: center;
    display: flex;
    align-items: center;
}

#grid-size {
    font-size: 30px;
    font-weight: bold;
    margin-right: 20px;
}

.slide-container {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

#slider {
    -webkit-appearance: none;
    width: 20%;
    height: 25px;
    background: #243853;
    opacity: 0.7;
    border-radius: 15px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* Mouse-over effects */
#slider:hover {
    opacity: 1;
}

/* change slider's button */
#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(255, 180, 42);
    border-radius: 50%;
    cursor: pointer;
}

p {
    display: block;
    margin-top: 0px;
    margin-left: 10px;
    font-weight: bold;
}

.value {
    font-size: 30px;
    padding-left: 10px;
    color: black;
}

.grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid white;
    border-radius: 5px;
    height: 500px;
    width: 500px;
    background-color: grey;
}

.footer {
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    background-color: rgb(255, 180, 42);
}